<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="deploy.com.timelineschedule" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimelineSchedule"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".ui.dashboard.DashboardITActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.registrasi.RegistrasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.changeinvitation.ChangeInvitationActivity"
            android:exported="false"
            android:label="Ganti Invitation"
            android:theme="@style/Theme.Detail" >
        </activity>
        <activity
            android:name=".ui.home.addtimeline.AddActivity"
            android:exported="false"
            android:label="Buat Timeline"
            android:theme="@style/Theme.Detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.home.detailtimeline.DetailActivity"
            android:exported="false"
            android:label="Detail Timeline"
            android:theme="@style/Theme.Detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.dashboard.DashboardActivity" />
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


</manifest>